/* Chequebook.css */

.containerStylecheque {
 
margin-top: -800px;
  height: 525px;
  
  width:40%;
  margin-top:10px;
  margin-left: 470px;
  padding: -10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(230, 205, 205,.7);
  text-align: center;
 


  
}

.book {
  font-size: 38px;
  text-decoration: underline;
  margin-left: 600px;
  margin-top:-75px;
  padding: 1px;

}

.book1{
  font-size: 28px;
top: -20px;
text-align: center;
  padding: 1em;
  margin-left:200px;
}

.chequelab {
  display: block;
  padding: 1em;
  margin-top: -40px;
}

.chequelab span {
  color: red;
}
.chequelab1{
  display: block;
  padding: 1em;
  margin-top: -100px;
}

.chequelab1 span {
  color: red;
}

.car {
  margin-top: 30px;
}



input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #f0e7e7;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Box shadow added */
}

.salcheque {
  width: 80%;
  padding: 10px;
  margin-top: 25px;
  font-size: 20px;
  border: 1px solid #a8a2a2;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Box shadow added */
}
.sal1cheque {
  width: 70%;
  padding: 10px;
  margin-top:- 60px;
  
  font-size: 20px;
  border: 1px solid #a8a2a2;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Box shadow added */
}

.button-56 {
  background-color: #5196e0;
  color: #0e0e0e;
  padding: 10px 20px;
  margin-left: 50px;
  margin-top:1px ;
  border: none;
  border-radius: 5px;
  font-size:20px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Box shadow added */

}
.button-56:hover {
  background-color: #e49648;
}

.sub {
  margin-top: 30px;
}

.textreqcheque{
  margin-top: 20px;
  bottom: 60px;
  height: 35px;
  
}
.checklogout{
 
  margin-left: 1350px;
 margin-top: 150px;
 background-color: burlywood;
 
}